<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Yomu camara test</name>

<description>
Esta es una app de prueba sobre la camara en phonegap.
</description>

<author href="https://example.com" email="you@example.com">
Roel Magdaleno
</author>

</widget>
